.logo{


    top: 67px;
    left: 235px;
    width: 89px;
    height: 34px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 32px/44px Mongolian Baiti;
    letter-spacing: 0px;
    color: #101010;
    opacity: 1;


}
